form {
	width: 100%;
}

label {
	margin-left: 30%;
	vertical-align: top;
}

text {
	width:25%;
}

textarea {
	resize: vertical;
	max-height: 100px;
	width: 25%;
}

checkbox:hover {
	cursor: pointer;
}

input[type=reset] {
	height: 40px;
	width: 75px;
	margin-left: 36%;
	cursor: pointer;
	border-radius:5px;
}

input[type=submit] {
	height: 40px;
	width: 75px;
	margin-left: 10%;
	cursor: pointer;
	border-radius:5px;
}