form {
	width: 100%;
}

label {
	margin-left: 30%;
}

input {
	width:25%;
}

textarea {
	resize: vertical;
	max-height: 100px;
	width: 25%;
}

input:focus, input:textarea {
	box-shadow: 0 0 4px;
}

input:focus, input:reset {
	height:100px;
}